<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Custom\Training1_Review\Api\CountryDefinerInterface"
                type="Custom\Training1_Review\Model\CountryDefiner" />
    <preference for="Magento\Review\Model\Review"
                type="Custom\Training1_Review\Model\Review" />
</config>
